<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>erge</key>
	<array>
		<dict>
			<key>name</key>
			<string>小兔子乖乖</string>
			<key>avatar</key>
			<string>xtzgg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm1.mp4</string>
			<key>identity</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>两只老虎</string>
			<key>avatar</key>
			<string>lzlh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm2.mp4</string>
			<key>identity</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>拔萝卜</string>
			<key>avatar</key>
			<string>blb</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm3.mp4</string>
			<key>identity</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>粉刷匠</string>
			<key>avatar</key>
			<string>fsj</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm4.mp4</string>
			<key>identity</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小毛驴</string>
			<key>avatar</key>
			<string>xml</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm5.mp4</string>
			<key>identity</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小燕子</string>
			<key>avatar</key>
			<string>xyz</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm6.mp4</string>
			<key>identity</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小星星</string>
			<key>avatar</key>
			<string>xxx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm7.mp4</string>
			<key>identity</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>虫儿飞</string>
			<key>avatar</key>
			<string>cef</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm8.mp4</string>
			<key>identity</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>哇哈哈</string>
			<key>avatar</key>
			<string>whh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm9.mp4</string>
			<key>identity</key>
			<integer>9</integer>
		</dict>
	</array>
</dict>
</plist>
