<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>erge</key>
	<array>
		<dict>
			<key>name</key>
			<string>小苹果</string>
			<key>avatar</key>
			<string>xpg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm25.mp4</string>
			<key>identity</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>爸爸去哪儿</string>
			<key>avatar</key>
			<string>bbqn</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm26.mp4</string>
			<key>identity</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>少女与战车</string>
			<key>avatar</key>
			<string>kqs</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm27.mp4</string>
			<key>identity</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>红蜻蜓</string>
			<key>avatar</key>
			<string>hqt</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm28.mp4</string>
			<key>identity</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>不上你的当</string>
			<key>avatar</key>
			<string>bsndd</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm29.mp4</string>
			<key>identity</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>校园的早餐</string>
			<key>avatar</key>
			<string>xydzc</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm30.mp4</string>
			<key>identity</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>歌声与微笑</string>
			<key>avatar</key>
			<string>gsywx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm31.mp4</string>
			<key>identity</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>妈妈的吻</string>
			<key>avatar</key>
			<string>mmdw</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm32.mp4</string>
			<key>identity</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>萤火虫</string>
			<key>avatar</key>
			<string>yhc</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm33.mp4</string>
			<key>identity</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>卖汤圆</string>
			<key>avatar</key>
			<string>mty</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm34.mp4</string>
			<key>identity</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>乡间小路</string>
			<key>avatar</key>
			<string>xjdxl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm35.mp4</string>
			<key>identity</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Weihnachtslied</string>
			<key>avatar</key>
			<string>kqs</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm36.mp4</string>
			<key>identity</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>每当我走过老师窗前</string>
			<key>avatar</key>
			<string>mdwzglscq</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm37.mp4</string>
			<key>identity</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>泥娃娃</string>
			<key>avatar</key>
			<string>nww</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm38.mp4</string>
			<key>identity</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>兰花草</string>
			<key>avatar</key>
			<string>lhc</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm39.mp4</string>
			<key>identity</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>捉泥鳅</string>
			<key>avatar</key>
			<string>znq</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm40.mp4</string>
			<key>identity</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>劳动最光荣</string>
			<key>avatar</key>
			<string>ldzgr</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm41.mp4</string>
			<key>identity</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>彩虹妹妹</string>
			<key>avatar</key>
			<string>chmm</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm42.mp4</string>
			<key>identity</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>茉莉花</string>
			<key>avatar</key>
			<string>mlh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm43.mp4</string>
			<key>identity</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>只要妈妈露笑脸</string>
			<key>avatar</key>
			<string>zymmlxl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm44.mp4</string>
			<key>identity</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>爷爷为我打月饼</string>
			<key>avatar</key>
			<string>yywwdyb</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm45.mp4</string>
			<key>identity</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>铃儿响叮当</string>
			<key>avatar</key>
			<string>lexdd</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm46.mp4</string>
			<key>identity</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>四季童谣</string>
			<key>avatar</key>
			<string>sjty</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm47.mp4</string>
			<key>identity</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>噢!苏珊娜</string>
			<key>avatar</key>
			<string>ossn</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm48.mp4</string>
			<key>identity</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>踏浪</string>
			<key>avatar</key>
			<string>tl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm49.mp4</string>
			<key>identity</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>国家</string>
			<key>avatar</key>
			<string>gj</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm50.mp4</string>
			<key>identity</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>雨花石</string>
			<key>avatar</key>
			<string>yhs</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm51.mp4</string>
			<key>identity</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>春晓</string>
			<key>avatar</key>
			<string>cx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm52.mp4</string>
			<key>identity</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>蜗牛与黄鹂鸟</string>
			<key>avatar</key>
			<string>wnyhln</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm53.mp4</string>
			<key>identity</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>大雁飞</string>
			<key>avatar</key>
			<string>dyf</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm54.mp4</string>
			<key>identity</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>猪都笑了</string>
			<key>avatar</key>
			<string>zdxl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm55.mp4</string>
			<key>identity</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>十二生肖歌</string>
			<key>avatar</key>
			<string>sesx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm56.mp4</string>
			<key>identity</key>
			<integer>56</integer>
		</dict>
	</array>
	<key>tongyao</key>
	<array>
		<dict>
			<key>name</key>
			<string>小兔子乖乖</string>
			<key>avatar</key>
			<string>xtzgg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm1.mp4</string>
			<key>identity</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>两只老虎</string>
			<key>avatar</key>
			<string>lzlh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm2.mp4</string>
			<key>identity</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>拔萝卜</string>
			<key>avatar</key>
			<string>blb</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm3.mp4</string>
			<key>identity</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>粉刷匠</string>
			<key>avatar</key>
			<string>fsj</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm4.mp4</string>
			<key>identity</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小毛驴</string>
			<key>avatar</key>
			<string>xml</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm5.mp4</string>
			<key>identity</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小燕子</string>
			<key>avatar</key>
			<string>xyz</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm6.mp4</string>
			<key>identity</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>虫儿飞</string>
			<key>avatar</key>
			<string>cef</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm7.mp4</string>
			<key>identity</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小星星</string>
			<key>avatar</key>
			<string>xxx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm8.mp4</string>
			<key>identity</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>哇哈哈</string>
			<key>avatar</key>
			<string>whh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm9.mp4</string>
			<key>identity</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>春天在哪里</string>
			<key>avatar</key>
			<string>ctznl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm10.mp4</string>
			<key>identity</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>爱我你就抱抱我</string>
			<key>avatar</key>
			<string>awnjbbw</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm11.mp4</string>
			<key>identity</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>好爸爸坏爸爸</string>
			<key>avatar</key>
			<string>hbbhbb</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm12.mp4</string>
			<key>identity</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>采蘑菇的小姑娘</string>
			<key>avatar</key>
			<string>cmgdxgn</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm13.mp4</string>
			<key>identity</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小螺号</string>
			<key>avatar</key>
			<string>xlh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm14.mp4</string>
			<key>identity</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小白兔</string>
			<key>avatar</key>
			<string>xbt</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm15.mp4</string>
			<key>identity</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>打电话</string>
			<key>avatar</key>
			<string>ddh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm16.mp4</string>
			<key>identity</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>鲁冰花</string>
			<key>avatar</key>
			<string>lbh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm17.mp4</string>
			<key>identity</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>摇篮曲</string>
			<key>avatar</key>
			<string>ylq</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm18.mp4</string>
			<key>identity</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>大风车</string>
			<key>avatar</key>
			<string>dfc</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm19.mp4</string>
			<key>identity</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>数鸭子</string>
			<key>avatar</key>
			<string>syz</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm20.mp4</string>
			<key>identity</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>DoReMi</string>
			<key>avatar</key>
			<string>drm</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm21.mp4</string>
			<key>identity</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Jingle bells</string>
			<key>avatar</key>
			<string>jgb</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm22.mp4</string>
			<key>identity</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Angels watching over me</string>
			<key>avatar</key>
			<string>awom</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm23.mp4</string>
			<key>identity</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Catch the eels</string>
			<key>avatar</key>
			<string>cte</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm24.mp4</string>
			<key>identity</key>
			<integer>24</integer>
		</dict>
	</array>
	<key>custom</key>
	<array>
		<dict>
			<key>name</key>
			<string>洗手歌</string>
			<key>avatar</key>
			<string>xsg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm57.mp4</string>
			<key>identity</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>排排坐</string>
			<key>avatar</key>
			<string>ppzcgg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm58.mp4</string>
			<key>identity</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>上学歌</string>
			<key>avatar</key>
			<string>sxg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm59.mp4</string>
			<key>identity</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>读书郎</string>
			<key>avatar</key>
			<string>dsl</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm60.mp4</string>
			<key>identity</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>恭喜恭喜</string>
			<key>avatar</key>
			<string>gxgx</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm61.mp4</string>
			<key>identity</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>过新年</string>
			<key>avatar</key>
			<string>gxn</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm62.mp4</string>
			<key>identity</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>新年好</string>
			<key>avatar</key>
			<string>xnh</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm63.mp4</string>
			<key>identity</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>中秋节</string>
			<key>avatar</key>
			<string>zqj</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm64.mp4</string>
			<key>identity</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小手拍拍</string>
			<key>avatar</key>
			<string>xspp</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm65.mp4</string>
			<key>identity</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>一年级小学生</string>
			<key>avatar</key>
			<string>ynjxxs</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm66.mp4</string>
			<key>identity</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>勤劳买菜歌</string>
			<key>avatar</key>
			<string>mcg</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm67.mp4</string>
			<key>identity</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>一分钱</string>
			<key>avatar</key>
			<string>yfq</string>
			<key>url</key>
			<string>http://res2.lefun.net.cn/nnm/res/nnm68.mp4</string>
			<key>identity</key>
			<integer>68</integer>
		</dict>
	</array>
</dict>
</plist>
