<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>erge</key>
	<array>
		<dict>
			<key>name</key>
			<string>小苹果</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>少女与战车插曲</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>爸爸去哪儿</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>红蜻蜓</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>不上你的当</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>歌声与微笑</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>校园的早晨</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>妈妈的吻</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>萤火虫</string>
			<key>avatar</key>
			<string></string>
			<key>url</key>
			<string>http://baidu.com</string>
			<key>identity</key>
			<integer>9</integer>
		</dict>
	</array>
</dict>
</plist>
